In [7]:
import pandas as pd
import numpy as np
import plotly.express as px

In [3]:
df = pd.read_csv("E:\\new_Desktop\\python\\Dashborad_with_multipleplots\\train.csv")

In [8]:

df1 = px.data.gapminder().query("year == 2007").query("continent == 'Europe'")

In [9]:
df1

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
23,Albania,Europe,2007,76.423,3600523,5937.029526,ALB,8
83,Austria,Europe,2007,79.829,8199783,36126.492700,AUT,40
119,Belgium,Europe,2007,79.441,10392226,33692.605080,BEL,56
155,Bosnia and Herzegovina,Europe,2007,74.852,4552198,7446.298803,BIH,70
191,Bulgaria,Europe,2007,73.005,7322858,10680.792820,BGR,100
383,Croatia,Europe,2007,75.748,4493312,14619.222720,HRV,191
407,Czech Republic,Europe,2007,76.486,10228744,22833.308510,CZE,203
419,Denmark,Europe,2007,78.332,5468120,35278.418740,DNK,208
527,Finland,Europe,2007,79.313,5238460,33207.084400,FIN,246
539,France,Europe,2007,80.657,61083916,30470.016700,FRA,250
575,Germany,Europe,2007,79.406,82400996,32170.374420,DEU,276
599,Greece,Europe,2007,79.483,10706290,27538.411880,GRC,300
683,Hungary,Europe,2007,73.338,9956108,18008.944440,HUN,348
695,Iceland,Europe,2007,81.757,301931,36180.789190,ISL,352
755,Ireland,Europe,2007,78.885,4109086,40675.996350,IRL,372
779,Italy,Europe,2007,80.546,58147733,28569.719700,ITA,380
1019,Montenegro,Europe,2007,74.543,684736,9253.896111,MNE,499
1091,Netherlands,Europe,2007,79.762,16570613,36797.933320,NLD,528
1151,Norway,Europe,2007,80.196,4627926,49357.190170,NOR,578
1235,Poland,Europe,2007,75.563,38518241,15389.924680,POL,616
1247,Portugal,Europe,2007,78.098,10642836,20509.647770,PRT,620
1283,Romania,Europe,2007,72.476,22276056,10808.475610,ROU,642
1343,Serbia,Europe,2007,74.002,10150265,9786.534714,SRB,688
1379,Slovak Republic,Europe,2007,74.663,5447502,18678.314350,SVK,703
1391,Slovenia,Europe,2007,77.926,2009245,25768.257590,SVN,705
1427,Spain,Europe,2007,80.941,40448191,28821.063700,ESP,724
1475,Sweden,Europe,2007,80.884,9031088,33859.748350,SWE,752
1487,Switzerland,Europe,2007,81.701,7554661,37506.419070,CHE,756
1583,Turkey,Europe,2007,71.777,71158647,8458.276384,TUR,792
1607,United Kingdom,Europe,2007,79.425,60776238,33203.261280,GBR,826

In [4]:
df.shape

(1460, 81)

In [5]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
df.groupby('MSSubClass').count()

,Id,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
MSSubClass,,,,,,,,,,,,,,,,,,,,,
20,536,536,437,536,536,5,536,536,536,536,...,536,1,117,20,536,536,536,536,536,536
30,69,69,63,69,69,12,69,69,69,69,...,69,0,15,5,69,69,69,69,69,69
40,4,4,3,4,4,1,4,4,4,4,...,4,0,0,2,4,4,4,4,4,4
45,12,12,12,12,12,1,12,12,12,12,...,12,0,4,0,12,12,12,12,12,12
50,144,144,128,144,144,24,144,144,144,144,...,144,0,44,9,144,144,144,144,144,144
60,299,299,230,299,299,2,299,299,299,299,...,299,3,33,9,299,299,299,299,299,299
70,60,60,55,60,60,16,60,60,60,60,...,60,0,14,1,60,60,60,60,60,60
75,16,16,15,16,16,3,16,16,16,16,...,16,1,5,0,16,16,16,16,16,16
80,58,58,38,58,58,0,58,58,58,58,...,58,2,26,2,58,58,58,58,58,58
85,20,20,14,20,20,0,20,20,20,20,...,20,0,9,1,20,20,20,20,20,20
90,52,52,47,52,52,2,52,52,52,52,...,52,0,3,3,52,52,52,52,52,52
120,87,87,67,87,87,4,87,87,87,87,...,87,0,2,0,87,87,87,87,87,87
160,63,63,55,63,63,15,63,63,63,63,...,63,0,3,0,63,63,63,63,63,63
180,10,10,10,10,10,0,10,10,10,10,...,10,0,2,0,10,10,10,10,10,10
190,30,30,27,30,30,6,30,30,30,30,...,30,0,4,2,30,30,30,30,30,30

In [22]:
y=df.groupby('MSSubClass')
#df.unique 是 ndarray
print(df['MSSubClass'].unique()[2])

70

In [17]:
y.get_group(50)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
46,47,50,RL,48.0,12822,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,239686
51,52,50,RM,52.0,6240,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,400,9,2006,WD,Normal,114500
69,70,50,RL,81.0,15593,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,225000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1405,50,RL,60.0,10410,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2006,WD,Family,105000
1411,1412,50,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,9,2009,WD,Normal,140000
1414,1415,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,207000
1427,1428,50,RL,60.0,10930,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,140000
1448,1449,50,RL,70.0,11767,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2007,WD,Normal,112000

In [67]:
x=df.groupby('MSSubClass')['LotConfig',''].value_counts().to_frame().reset_index()

ValueError: cannot insert LotConfig, already exists

In [73]:
type(df.groupby('MSSubClass')['LotConfig'].value_counts().to_frame())

pandas.core.frame.DataFrame

In [89]:
type(df['MSSubClass'].unique())

numpy.ndarray

In [82]:
df.groupby('MSSubClass')['LotConfig','LandContour'].value_counts().\
    to_frame().\
    rename(columns={'LotConfig':'Lotcount'}).\
    reset_index()

C:\Users\allenwang\AppData\Local\Temp\ipykernel_20996\81640065.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('MSSubClass')['LotConfig','LandContour'].value_counts().\

    MSSubClass LotConfig LandContour    0
0           20    Inside         Lvl  343
1           20    Corner         Lvl   93
2           20   CulDSac         Lvl   34
3           20       FR2         Lvl   18
4           20    Inside         HLS   15
..         ...       ...         ...  ...
95         190    Inside         Bnk    4
96         190    Corner         Lvl    4
97         190    Inside         Low    1
98         190    Corner         HLS    1
99         190    Corner         Bnk    1

[100 rows x 4 columns]

In [87]:
df.groupby('MSSubClass').mean().reset_index()
    # rename(columns={'LotConfig':'Lotcount'}).\

,MSSubClass,Id,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,20,723.998134,77.464531,11755.509328,6.033582,5.550373,1977.960821,1985.878731,104.355263,562.986940,...,98.014925,42.811567,12.345149,5.246269,15.632463,1.208955,53.514925,6.244403,2007.875000,185224.811567
1,30,747.826087,60.349206,7888.492754,4.507246,5.753623,1926.637681,1968.869565,12.130435,187.826087,...,33.927536,27.101449,61.115942,0.000000,4.144928,0.000000,35.942029,5.898551,2007.768116,95829.724638
2,40,725.000000,50.000000,12559.750000,5.750000,6.500000,1946.000000,1973.250000,0.000000,500.750000,...,67.000000,7.000000,45.750000,0.000000,0.000000,0.000000,150.000000,7.750000,2008.500000,156125.000000
3,45,422.000000,55.000000,6949.000000,5.500000,6.166667,1934.583333,1964.000000,0.000000,103.000000,...,4.000000,9.333333,82.416667,0.000000,0.000000,0.000000,0.000000,6.333333,2007.416667,108591.666667
4,50,751.194444,64.000000,10479.145833,5.402778,6.013889,1935.833333,1969.854167,34.409722,226.666667,...,65.861111,26.583333,50.319444,4.194444,21.673611,0.000000,59.375000,6.236111,2007.840278,143302.972222
5,60,708.882943,81.056522,12058.076923,7.060201,5.297659,1994.494983,1996.331104,181.148649,440.525084,...,131.638796,80.488294,8.755853,3.394649,16.933110,5.197324,18.327759,6.478261,2007.729097,239948.501672
6,70,771.466667,65.654545,10120.166667,6.116667,6.633333,1918.833333,1977.866667,3.733333,182.000000,...,55.233333,36.400000,76.833333,0.000000,15.650000,0.000000,41.666667,6.950000,2007.816667,166772.416667
7,75,604.875000,77.533333,11631.750000,6.625000,6.250000,1912.625000,1976.750000,0.000000,188.125000,...,52.812500,131.187500,107.312500,0.000000,33.500000,32.000000,0.000000,6.375000,2007.500000,192437.500000
8,80,792.155172,80.026316,10895.482759,5.965517,5.896552,1974.275862,1982.155172,128.603448,486.068966,...,127.258621,30.827586,17.396552,3.896552,16.965517,22.655172,20.689655,6.810345,2007.810345,169736.551724
9,85,828.200000,71.571429,9317.450000,5.450000,6.100000,1975.450000,1983.050000,52.550000,720.900000,...,95.900000,22.100000,30.450000,0.000000,9.600000,0.000000,20.000000,5.550000,2008.150000,147810.000000
10,90,792.288462,71.595745,9720.057692,4.961538,4.923077,1967.173077,1970.269231,111.000000,406.346154,...,39.961538,13.211538,2.788462,0.000000,0.000000,0.000000,180.769231,6.846154,2007.807692,133541.076923
11,120,739.505747,45.671642,5383.954023,7.057471,5.045977,1999.011494,1999.344828,113.441860,607.022989,...,124.873563,52.666667,7.620690,3.689655,24.356322,0.000000,0.000000,6.517241,2007.816092,200779.080460
12,160,745.730159,27.945455,2699.333333,6.142857,5.222222,1987.269841,1988.587302,169.015873,268.698413,...,71.412698,36.539683,0.000000,0.000000,0.000000,0.000000,0.000000,5.634921,2007.809524,138647.380952
13,180,798.000000,25.200000,2247.400000,4.600000,5.800000,1981.200000,1984.500000,24.200000,436.800000,...,30.400000,22.500000,0.000000,0.000000,0.000000,0.000000,0.000000,6.800000,2007.800000,102300.000000
14,190,660.100000,66.666667,16111.233333,4.966667,5.800000,1928.233333,1971.633333,15.666667,454.000000,...,78.566667,32.133333,47.666667,0.000000,12.333333,0.000000,140.000000,5.433333,2007.666667,129613.333333

In [24]:
type(x)

pandas.core.frame.DataFrame

In [25]:
x.index.names

FrozenList(['MSSubClass', 'Alley'])

In [6]:
type(df.groupby('MSSubClass')['Alley'].value_counts())

pandas.core.series.Series

In [10]:
x.values

array([ 5, 11,  1,  1,  1, 18,  6,  1,  1, 11,  5,  2,  1,  2,  4, 15,  4,
        2], dtype=int64)